* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    overflow: hidden;
}

canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    cursor: url('/src/assets/cursor/wand.cur'), auto;
}

#fundo {
    z-index: 0;
}

#tela {
    z-index: 1;
}
#particulas {
  z-index: 2;
  pointer-events: none; /* ← não bloqueia cliques/toques */
}